/node_modules
/public/hot
/public/storage
/public/css/
/public/js
/public/vendor
/public/mix-manifest.json
/public/css/app.css
/storage/*.key
/vendor
vendor/
.env
.env.backup
.phpunit.result.cache
.project
.settings
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.editorconfig
.buildpath
.gitattributes
docker-compose.override.yml
/.idea
/.vscode
/sketches
/conf