body {
  background: rgba(204, 255, 153, 0.16);
  text-align: left;
  font-size: 14px;
  font-family: Tahoma;
  color: #000000;
  line-height: 14px;
}
body h1 {
  font-size: 20px;
  font-family: 'Trebuchet MS';
  font-weight: 600;
  margin: 20px 0px;
}
body a {
  color: #003300;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
body div,
body p,
body a,
body span,
section body + body {
  margin: 0px;
  padding: 0px;
}
.center_part {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.wide_screen.dashboard .center_part {
  margin-right: 0px;
  width: 80%;
  flex-shrink: 0;
}
.wide_screen {
  width: 100%;
}
.wide_screen.dashboard {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.deliverable {
  width: 60%;
}
.deliverable .long_field input {
  width: 95%;
}
.deliverable .long_field_complex {
  display: flex;
  flex-flow: row nowrap;
}
.deliverable .long_field_button {
  padding: 0px;
}
.deliverable .long_field_button input {
  width: 50%;
}
.deliverable .detail_field {
  width: 40%;
  padding: 0px 0px 0px 0px;
}
.deliverable .detail_field input {
  width: 60%;
}
.deliverable .detail_field_horizontal {
  display: flex;
  flex-flow: row nowrap;
}
.deliverable label,
.deliverable input {
  display: block;
}
.status {
  width: 60%;
}
.status .field input,
.status .field textarea {
  width: 95%;
}
.status .field_btn {
  padding: 0px;
}
.status .field_btn input {
  width: 50%;
}
.wbs-section-panel {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 20px 0px;
}
.wbs-section-panel form.deliverable {
  width: 60%;
}
.wbs-section-panel section.history {
  width: 30%;
}
.project .long_field input {
  display: block;
  min-width: 150px;
}
.project .long_field.title input {
  width: 95%;
  flex-shrink: 1;
}
.project .long_field_date {
  min-width: auto;
}
.project .long_field_date .day {
  width: 40px;
}
.project .long_field_date .year {
  width: 60px;
}
.dashboard .project {
  padding: 20px;
}
.dashboard .project a {
  display: block;
  padding: 10px 0px 0px;
}
.new.project {
  width: 50%;
}
.dashboard main .project {
  width: 60%;
}
.project p {
  padding: 10px 0px;
}
.actions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0px;
}
.projects_groups {
  width: 100%;
  display: -ms-Flexbox;
  -ms-box-orient: horizontal;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row nowrap;
}
.projects_groups .card {
  width: 25%;
}
.projects_groups .card a.title {
  font-weight: bold;
  padding: 10px 0px;
  display: block;
}
form,
.status,
.new.project,
.dashboard main .project {
  padding: 0px 0px 20px 0px;
}
form .field,
.deliverable .long_field,
.deliverable .long_field_complex,
.status .field,
.project .long_field,
.project .long_field_date {
  padding: 0px 0px 20px;
}
form fieldset {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 0px;
  margin: 0px;
  border: none;
}
form fieldset.date .group {
  margin-right: 20px;
}
form fieldset legend {
  font-weight: 600;
  font-size: 16px;
  padding: 5px 0px 10px;
}
form input,
form select,
form textarea {
  border: 1px solid #662d91;
  padding: 4px 5px 4px 8px;
  font-size: 14px;
  font-family: Tahoma;
  line-height: 100%;
  text-align: left;
  color: #000000;
  outline: none;
}
form button,
form input[type="submit"],
form input[type="reset"] {
  min-width: 100px;
  max-width: 100%;
  background-color: #003300;
  color: #ffffff;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: Tahoma;
  font-size: 14px;
  border: 0px solid #fff;
  cursor: pointer;
  display: inline-block;
  border-radius: 8px;
}
form button.delete,
form input[type="submit"].delete,
form input[type="reset"].delete {
  background: #ff3333;
}
form label,
form p {
  font-size: 16px;
  font-family: "Arial";
  color: #000033;
  line-height: 100%;
  text-align: left;
}
.group {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.long_field .group {
  justify-content: space-between;
}
#top_slogan {
  width: 100%;
  height: 60px;
  border-width: 0px;
  border-color: #000066;
  border-style: solid;
  background-color: #9966ff;
  padding: 30px 0px 0px 0px;
  border-bottom: 4px solid #6633cc;
}
#top_slogan p.title {
  font-size: 24px;
  font-family: "Century Schoolbook";
  color: #ffffcc;
  line-height: 0.75;
  text-align: left;
  margin: 0px;
}
#top_slogan.shortcut {
  height: 30px;
  padding: 0px;
}
.primary_menu {
  width: 20%;
}
.primary_menu ul li {
  padding: 0px 0px 15px;
}
nav ul,
.primary_menu ul {
  list-style-type: none;
}
p,
h1,
h2 {
  margin: 0px;
}
h2 {
  font-size: 16px;
  font-family: "Myriad Pro", Tahoma;
  color: #000033;
  line-height: 1.125;
  font-weight: normal;
}
.groupped {
  border-width: 1px;
  border-color: #2e3192;
  border-style: solid;
  border-radius: 5px;
  margin: 0px 0px 20px;
}
.err_info {
  border: 1px solid #800000;
  background: #FA8573;
  color: #993300;
  font-weight: bold;
  padding: 5px;
}
.left_nav {
  width: 25%;
  border-right: 1px solid #009966;
  position: relative;
}
.left_nav .section_title {
  float: right;
  margin: 15px 20px 0px 0px;
}
.left_nav .section_title h2 {
  border-bottom: 1px solid #996666;
  position: relative;
  border-right: 1px solid #996666;
  padding: 0px 5px 3px 30px;
  text-align: right;
}
.left_nav .section_title h1 {
  text-align: right;
  padding: 10px 5px 10px 0px;
  border-right: 1px solid #996666;
}
.left_nav .tree {
  clear: both;
  float: none;
}
.left_nav .tree ul {
  list-style-type: none;
}
.right_main {
  width: 75%;
}
main,
nav {
  margin-top: 20px;
}
nav a {
  margin: 0px 10px 0px 0px;
}
.msg {
  margin: 20px 0px;
  border: 1px solid #F2F2F2;
}
.res {
  border: 1px solid #78A058;
  color: #78A058;
  padding: 4px;
}
.err {
  border: 1px solid #EF8579;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0px;
}
table th {
  background-color: rgba(187, 244, 99, 0.64);
  padding: 0px;
  font-size: 18px;
  color: #003333;
  line-height: 1.2;
  text-align: center;
  font-size: 16px;
  font-family: "Arial";
}
table th button {
  padding: 0px;
  border: none;
  margin: 0px 5px;
  background-color: transparent;
}
table td {
  border-width: 1px;
  border-color: #666699;
  border-style: solid;
  background-color: #ffffff;
  padding: 0px;
  font-size: 16px;
  font-family: "Lucida Sans";
  color: #000000;
  line-height: 1.5;
  text-align: left;
}
table td .field {
  background: #ffffff;
}
table td input {
  padding: 0px;
  border: none;
  margin: 0px;
  background-color: transparent;
}
table caption {
  display: none;
}
.bottom_space {
  padding: 0px 0px 15px 0px;
}
.bottom_top_space {
  padding: 15px 0px;
}
.side_space {
  padding: 0px 15px;
}
.around_space {
  padding: 15px;
}
.flex_block {
  display: -ms-Flexbox;
  -ms-box-orient: horizontal;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
}
.fld_space_100 {
  width: 100%;
}
.fld_space_50 {
  width: 50%;
}
.fld_space_45_left {
  width: 45%;
  padding: 0px 5% 0px 0px;
}
.fld_space_45_right {
  width: 45%;
  padding: 0px 0px 0px 5%;
}
.fld_space_30 {
  width: 33%;
}
.fld_space_20 {
  width: 20%;
}
.action_panel {
  background: #9999ff;
}
.action_panel ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.action_panel ul button {
  background: none;
  color: #000066;
}
table tr.active {
  border: 1px solid #FA4DC4;
}
.user_profile {
  float: right;
}
