@import 'deliverable.less';

.wbs-section-panel{
  
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 20px 0px;
  
  form.deliverable{
    width: 60%;
  }
  
  section.history{
    width: 30%;
  }
}
