@import 'deliverable.less';

.wbs-section-panel{
  
  padding: 0px 0px 20px 0px;
  
  .create_new{
      margin-bottom: 25px;
      .btn();
  }
  
  .history{
    padding: 15px;
    .digest();
    
    .actions {
      display: flex;
      justify-content: flex-end;
      
      button:first-child{
        margin-right: 15px;
      }
    }
  }
}
